*{
    margin:0px;
	padding:0px;
  }
    #outer{
	  width:100%;
	  height:800px;
	  background-color:grey;
	}
	#header{
	   width:100%;
	   height:200px;
	   background-color:blue;
	}
	#header1{
	   width:100%;
	   height:100px;
	   background-color:pink;
	}
	#header2{
	  width:100%;
	  height:100px;
	  background-color:red;
	  padding:8px;
	}
	#logo{
	   width:100px;
	   height:100px;
	   background-color:green;
	   float:left;
	}
	#banner{
	   width:1248px;
	   height:100px;
	   background-color:black;
	   float:left;
	}
	
	#AboutUs{
	   width:400px;
	   height:100px;
	   background-color:#6495ED;
	   float:left;
	   line-height:80px;
	
	}
	#ContactInfo{
	   width:475px;
	   height:100px;
	   background-color:#4169E1;
	   float:left;
	   line-height:80px;
	}
	#Booking{
	   width:35%;
	   height:100px;
	   background-color:blue;
	   float:left;
	   line-height:80px;
	}
	#subBody{
	  width:450px;
	  height:425px;
	  margin:45px;
	  margin-left:400px;
	  background-color:pink;
	}
	#subBody1{
	  width:98%;
	  height:50px;
	  border:5px solid blue;
	   text-align:center;
	   font-size:25px;
	   padding:3px;
	}
	#trainName{
	   font-size:20px;
	}